<div class="footer-wrapper text-center">
    <h5>
        <a class="contentrefinery-link" href="https://app.contentrefinery.io/" target="_blank">
            see more at contentrefinery.io
        </a>
    </h5>
</div>