.footer-wrapper {
    width: 100%;
    border-top: 3px solid #efefef;
    position: relative;
    bottom: 0px;
}

.contentrefinery-link {
    text-decoration: none;
    color: #717171;
}

.contentrefinery-link:hover {
    color: #486c98;
}