<div class="header-wrapper">
  <a class="logo-wrapper" href="https://app.contentrefinery.io">
    <img style="filter: brightness(0.8);" src="./assets/logo-sm.png" alt="" />
  </a>
  <a *ngIf="(this.router.url == '/script') || (this.router.url == '/copy-url')" class="btn btn-text-orange p-0"
    (click)="goToFiles()">
    <fa-icon [icon]="faBack" class="btn-icon mr-2"></fa-icon>Back
  </a>
  <a *ngIf="(this.router.url == '/copy-collection-url') || (this.router.url == '/share-collection')" class="btn btn-text-orange p-0"
    (click)="goToCollections()">
    <fa-icon [icon]="faBack" class="btn-icon mr-2"></fa-icon>Back
  </a>
  <a *ngIf="this.router.url != '/login'" class="btn-log-out ml-auto" (click)="logOut()">
    <fa-icon [icon]="faLogOut" class="btn-icon"></fa-icon>
    Log out
  </a>
</div>
