<div class="app-wrapper">
    <div class="m-2">
        <h5 class="text-center">Copy Integration Script</h5>
        <hr>
        <div class="my-3 p-3 bg-dark rounded code-container">
            <code id="integrationScript" class="text-light">
                &lt;script type="text/javascript"&gt;
                document.addEventListener( "click", crSubmit0 );

                function crSubmit0(event){{ '{' }}
                var inputId = "YOUR_INPUT_ID";

                var buttonId = "YOUR_BUTTON_ID";

                var baseUrl = '{{this.currentDomain}}/viewer/{{this.newUrlToken}}';

                var element = event.target;
                if(element.id == buttonId){{ '{' }}
                var user = btoa(document.getElementById(inputId).value);
                window.open(`${{ '{' }}baseUrl{{ '}' }}?s_code=${{ '{' }}user{{ '}' }}`, '_blank');
                {{ '}' }}
                {{ '}' }}
                &lt;/script&gt;
            </code>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-success w-100" type="button" (click)="copyScript()">
                COPY
            </button>
        </div>
    </div>
</div>