<div class="app-wrapper">
  <div class="m-2">
    <h5 class="text-center">Copy Custom URL</h5>
    <hr>
    <p>
      Label your campaign
    </p>
    <p>Collection Name: <a target="_blank" id="CustomLinkUrl" [href]="this.generatedLink">{{this.newCollectionName}}</a></p>
    <div class="input-group form-group mt-4">
      <p class="w-100">Campaign Name *</p>
      <input (keyup)="buildUrl()" [(ngModel)]="aliasGroup" name="txtEmail" type="text" class="form-control input-form"
        placeholder="Type name..." style="font-size: smaller;"/>
      <div class="input-group-prepend">
        <span class="input-group-text" style="font-size: smaller;">
          <fa-icon [icon]="faUser"></fa-icon>
        </span>
      </div>
    </div>
    <div *ngIf="false" class="input-group form-group mt-3 mb-5">
      <p class="w-100">Email</p>
      <input (keyup)="buildUrl()" [(ngModel)]="localEmail" name="txtAlias" type="text" email class="form-control input-form"
        placeholder="Type E-mail..." style="font-size: smaller;" (keyup)="validateEmail()"/>
      <div class="input-group-prepend">
        <span class="input-group-text" style="font-size: smaller;">
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </span>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button [disabled]="!aliasGroup" class="btn btn-success w-100" type="button" (click)="copyLink()">
        COPY LINK
      </button>
    </div>
  </div>
</div>
