<div class="my-2 d-flex justify-content-end">
  <span class="ml-2" (click)="sortDescendingByDate()"
    ><fa-icon
      style="color: #486c98; cursor: pointer"
      [icon]="faArrowDown"
    ></fa-icon
  ></span>
  <span class="ml-2" (click)="sortAscendingByDate()"
    ><fa-icon
      style="color: #486c98; cursor: pointer"
      [icon]="faArrowUp"
    ></fa-icon
  ></span>
</div>
<div class="font-weight-bold mb-2">Recent Files</div>
<div *ngIf="!filesService.loaded && this.actualFilesToShow.length == 0">
  Loading Files...
</div>
<div *ngIf="filesService.loaded && this.actualFilesToShow.length == 0">
  There are not any files to show.
</div>
<div *ngIf="this.actualFilesToShow.length > 0">
  <div *ngFor="let file of this.actualFilesToShow">
    <app-file-card [localFile]="file"></app-file-card>
  </div>
</div>
