/* You can add global styles to this file, and also import other style files */

body {
  font-family: Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #717171;
}

button:hover {
  border-radius: 1em !important;
  transition: all 0.3s ease 0s !important;
}

button:focus {
  outline: 0 !important;
}

input:focus{
  outline: 0 !important;
  box-shadow: none !important;
  border-color: inherit !important;
}

.app-wrapper {
  padding: 2%;
  width: 400px;
  min-height: 500px;
}

.btn-orange {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
  height: 38px;
  padding: 6px;
  font-weight: 700;
  border: 1px solid #486c98;
  min-width: 60px;
  font-size: 12px;
  font-family: HelveticaNeue, Helvetica;
  background: #486c98 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000003d;
  border-radius: 2px;
  font-weight: normal;
  cursor: pointer;
}

.w70 {
  width: 70%;
}

.input-group-prepend {
  span {
    border-left: none;
    background-color: #ffffff;
  }
}

.input-form{
  border-right: none;
}

.no-results-collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  img {
      width: 40%;
  }
  >div {
      color: #7c7c7c;
      margin-top: 20px;
  }
}
