<div class="card file-card">
  <div class="card-icon">
    <svg style="width: 40px;" xmlns="http://www.w3.org/2000/svg" width="65.091" height="83.686" viewBox="0 0 65.091 83.686">
      <defs>
        <style>
          .a-pdf,
          .b-pdf {
            fill: none;
            stroke: #e73c35;
            stroke-linejoin: round;
            stroke-width: 5px;
          }

          .b-pdf {
            stroke-linecap: round;
          }

        </style>
      </defs>
      <g transform="translate(2.5 2.5)">
        <path class="a-pdf"
          d="M156.091,80.77v36.837a9.047,9.047,0,0,1-9.014,9.079H105.014A9.047,9.047,0,0,1,96,117.607V57.079A9.047,9.047,0,0,1,105.014,48h18.544a5.987,5.987,0,0,1,4.247,1.772l26.527,26.72A6.075,6.075,0,0,1,156.091,80.77Z"
          transform="translate(-96 -48)" />
        <path class="b-pdf" d="M256,56V74.547a4.946,4.946,0,0,0,4.946,4.946h18.547"
          transform="translate(-224.638 -51.764)" />
        <line class="b-pdf" x2="24" transform="translate(17.78 47.142)" />
        <line class="b-pdf" x2="24" transform="translate(17.78 60.142)" />
      </g>
    </svg> </div>
  <div class="card-title">
    <div class="font-weight-bold text-ellipsis">{{this.localFile.Name}}</div>
    <div class="date-card text-ellipsis">{{this.formatedDate}}</div>
  </div>

  <div class="card-button">
    <a class="mr-3" (click)="this.selectFile(localFile)" routerLink="/copy-url">
      <button class="copy-button">
        <svg style="width: 23px;" xmlns="http://www.w3.org/2000/svg" width="33.064" height="39.764"
          viewBox="0 0 33.064 39.764">
          <defs>
            <style>
              .a,
              .b {
                fill: none;
                stroke: #486c98;
                stroke-linejoin: round;
              }

              .b {
                stroke-linecap: round;
              }

            </style>
          </defs>
          <g transform="translate(0.5 0.5)">
            <path class="a"
              d="M86.712,139.779v14.871a3.692,3.692,0,0,1-3.586,3.807H67.591A3.693,3.693,0,0,1,64,154.651V131.807A3.765,3.765,0,0,1,67.674,128h7.859a2.015,2.015,0,0,1,1.46.637l9.114,9.6A2.24,2.24,0,0,1,86.712,139.779Z"
              transform="translate(-64 -119.693)" />
            <path class="b" d="M200,128v9.345a2.411,2.411,0,0,0,2.338,2.423h9.018"
              transform="translate(-188.644 -119.693)" />
            <path class="a"
              d="M176,40.307v-4.5A3.765,3.765,0,0,1,179.674,32h7.849a2.038,2.038,0,0,1,1.47.637l9.114,9.6a2.212,2.212,0,0,1,.6,1.526V58.651a3.692,3.692,0,0,1-3.586,3.807h-5.1"
              transform="translate(-166.648 -32)" />
            <path class="b" d="M312,32v9.345a2.41,2.41,0,0,0,2.338,2.423h9.018" transform="translate(-291.292 -32)" />
          </g>
        </svg>
      </button>
    </a>
    <a class="mr-2" (click)="this.selectFile(localFile)" routerLink="/script">
      <button class="share-button">
        <img style="width: 20px;" src="assets/icons/code.svg" />
      </button>
    </a>
  </div>

</div>
<!-- <a>{{ userService.currentDomain | currentDomain }}{{ '/v/' + localFile.Token }}</a> -->
